
/*Menu nawigacyjne -Start-*/
#menu {
    background-color: black;
    text-align: center;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    width:100%;
    
}
.menu-item  {
    display: inline;
    padding: 30px;
    }
 a {
    color:white;
    text-decoration: none;
}
/*Menu nawigacyjne- Stop-*/

/*Nagłówek- Start-*/
#header {
    position: relative;
}
img {
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 50px;
    text-align: center;
    color:white;
    left: 0;
    right: 0;
    top:50%;
    position: absolute;
    text-transform: uppercase;
    
}
/*Nagłówek - Stop-*/

/*Sekcja-Start-*/
p {
    text-align: center
}

h2 {
    font-size: 25px;
    text-align: center;
    color: black;
    font-style: italic;
    bottom: 10px;
    
}
/*Sekcja- Stop-*/

/*Stopka- Start-*/
h2#contact-header {
    font-size: 25px;
    text-align: center;
    color: white;
    font-style: italic;
      
}
footer {
    background-color: black;
}
 
address {
    text-align: center;
    font-style: normal;
    color:white;
    
}
/*Stopka-Stop-*/